.tprp{
  background-color: var(--blanc); 
  max-width:250px !important; 
  height:80px; 
  border-radius:10px 10px 0px 0px;
} 

.trpup{
  width:100%; 
  height:100%; 
  vertical-align:middle;
} 

.ltdtp{
  height:100%; 
  width:30%; 
  text-align:center;
} 

.imgrpup{
  margin-left:20px;
  margin-right:5px;
  height:40px; 
  width:40px; 
  padding:3px; 
  border: 1px solid var(--accentb); 
  object-fit: cover; 
  border-radius:100%; 
  filter:grayscale(100); 
  transition: all 800ms ease-in-out;
} 

.imgrpup:hover{
  filter:grayscale(0);
} 

.titup{
  font-family: 'Bebas Neue', cursive; 
  font-size:14px; 
  color: var(--noir);
} 

.bg_rp2{
  background-color: var(--accentb) !important; 
  min-height:250px !important; 
  width:250px !important; 
  border-radius:15px 15px 10px 10px;
  margin:auto;
  padding-bottom:10px;
}

.ootd{
  height:auto; 
  width:100%; 
  background: linear-gradient(45deg, var(--c6), var(--c5)); 
  filter: grayscale(100); 
  transition: all 500ms ease-in-out; 
  text-align: center; 
  text-transform: uppercase; 
  font-size: 7px;} 

.ootd:hover{
  filter: grayscale(0);
} 

.ootd a{
  color: var(--blanc);
} 

spe{
  font-family: arial black; 
  font-weight:700; 
  color: var(--c5);
} 

ctrp{
  font-size:8px; 
  font-style: italic; 
  font-family: times new roman; 
  color: var(--noir); 
  opacity:0.8;
}

ctrp::before{
  content: "❛";
  padding-right:3px;
}

.txt_rp{
  font-size:10px; 
  line-height:120%; 
  padding: 10px 30px 33px 30px; 
  text-align:justify; 
  font-family: 'Mulish',sans-serif;
}
