:root{
	--IGwhite: hsl(0, 0%, 100%); 
	--IGoffwhite: hsl(0, 0%, 98%);
	--IGgrey: hsl(0, 0%, 85%); 
	--IGdarkgrey: hsl(0, 0%, 45%); 
	--IGblack: hsl(0, 0%, 15%);
	--IGred: hsl(355, 100%, 60%); 
	--IGblue: hsl(204, 100%, 48%);
	--IGhovergrey: hsla(0, 0%, 15%, 0.2);
	--font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
} 

.IGP-main-bg{
	width: 28.125rem;
	height: auto; 
	background-color: var(--IGwhite);
	border: 0.0625rem solid var(--IGgrey); 
	border-radius: .5rem; 
	font-family: var(--font-family-system);
} 

.TOP-infos{
	display: grid; 
	grid-template-columns: 1fr 5fr 1fr; 
	height: 10%; 
	align-items: center; 
	border-bottom: 0.0625rem solid var(--IGgrey); 
	padding: 0.625rem 0.3125rem;
} 

.TOP-left{
	display: flex; 
	justify-content: end; 
	margin-right: 0.625rem;
} 

.TOP-mid{
	text-align: left; 
	color: var(--IGblack); 
	line-height: 150%; 
	font-size: .7rem;
} 

.TOP-bg-grad{
	display: flex; 
	align-items: center;
	justify-content: center; 
	width: 2.625rem; 
	height: 2.625rem; 
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
	border-radius: 100%;
} 

.TOP-img-profil{
	cursor: pointer; 
	width: 2.1875rem; 
	height: 2.1875rem; 
	object-fit: cover;
	border-radius: 100%; 
	padding: 0.125rem; 
	background: var(--IGoffwhite);
} 

.TOP-verif-check{
	width: 0.75rem; 
	height: 0.75rem; 
	object-fit: cover;
} 

user{
	cursor: pointer;
	display: inline-block; 
	font-weight: 700; 
	font-size: .8rem;
} 

.txt-black{
	color: var(--IGblack);
} 

.TOP-icon{
	font-size: 1rem; 
	cursor: pointer;
} 

.PST-main-img{
	width: 100%; 
	object-fit: cover;
	height: auto;
} 

.square{
	height: 28.125rem;
}

.pic-top{
	object-position: top;
}

.pic-bottom{
	object-position: bottom;
}

.BTM-icons{
	margin-top: -1rem; 
	display: grid; 
	grid-template-columns: 0.5fr 1fr 8fr 0.5fr; 
	align-items: center; 
	padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
} 

.BTM-icon-un{
	text-align: right;
} 

.BTM-icon-trois{
	text-align: left;
} 

.BTM-icon{
	cursor: pointer; 
	font-size: 1.2rem;
} 

.BTM-icon:hover{
	color: var(--IGdarkgrey);
} 

.IGP-caption{
	text-align: left; 
	color: var(--IGblack);
	padding: 0 0.75rem; 
	line-height: 1.5rem; 
	margin-top: -0.6rem; 
	padding-bottom: 0.3125rem; 
	border-bottom: 0.0625rem solid var(--IGgrey);
} 

.CAP-time{
	cursor: pointer; 
	text-transform: uppercase; 
	letter-spacing: 0.0125rem; 
	color: var(--IGdarkgrey); 
	font-weight: 400;
	font-size: 0.625rem;
} 

.IGP-add-comment{
	display: grid;
	grid-template-columns: 0.5fr 5fr 1fr; 
	align-items: center; 
	padding: 0.625rem 0 0.9375rem 0.4375rem; 
	margin-top: -1rem;
} 

.COM-add-comment{
	background: transparent; 
	border: transparent;
	background-color: var(--IGwhite) !important;
} 

.COM-add-comment:focus{
	outline: transparent;
} 

.COM-publish{
	color: var(--IGblue); 
	font-weight: 700; 
	opacity: 0.5;
} 

.COM-add-comment:not(:placeholder-shown) + .COM-publish{
	opacity: 1; 
	cursor: pointer;
} 

pc{
	cursor: pointer;
}

.credit-post{
	font: 0.4rem courier new; 
	text-transform: uppercase; 
	color: var(--IGdarkgrey); 
	letter-spacing: .0625rem; 
}
